ul.nav.justify-content-center
  - if admin_signed_in?
    li.nav-item

    a.nav-link.active[href="#"]
      | Active
  - elsif customer_signed_in?
    li.nav-item
      = link_to "Account Settings", edit_customer_registration_path, class: "nav-link btn btn-outline-danger"
    li.nav-item
      = link_to "Sign Out", destroy_customer_session_path, method: :delete, class: "nav-link btn btn-outline-danger"
  - else
    li.nav-item
      = link_to "Sign Up", new_customer_registration_path, class: "nav-link btn btn-outline-danger"
    li.nav-item
      = link_to "Sign in", new_customer_session_path, class: "nav-link btn btn-outline-danger"
- if flash[:notice]
  .p-4.mb-4.text-md.text-blue-700.text-center.font-bold
    = notice
- if flash[:alert]
  .p-4.mb-4.text-md.text-red-700.text-center.font-bold
    = alert
style
  |  ul { background-color: gray; } .nav-item { background-color: violet; } 
